# 淘宝旧地址(弃用):
## registry=https://registry.npm.taobao.org/ 
# npm官方:
# registry=https://registry.npmjs.org/ 
# 淘宝新镜像地址:
registry=https://registry.npmmirror.com
# npm私包：
# registry=http://81.70.168.49:8081/repository/npm-group/
# 

email=461864051@qq.com

strict-peer-dependencies=false

# TODO: 使用npm私包安装会报错
#  WARN  GET http://81.70.168.49:8081/repository/npm-group/@tanstack/react-query/-/react-query-4.20.4.tgz error (ERR_PNPM_FETCH_502). Will retry in 1 minute. 1 retries left.